@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --animate-wave: wave 4s linear infinite
@keyframes wave {
    0%{
     transform: translateX(0);
    }
    50% {
      transform: translateX(-50%);
    }
  }

}
